/* Estilos para el cuerpo del documento y el video de fondo */
body, html {
    height: 100%;
    margin: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Estilos para el contenedor del logo */
.logo-container img {
    display: flex;
    width: 300px;
    padding: 3px;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

/* Estilos para el cronómetro */
.clock {
    position: absolute;
    top: 60%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centrar exactamente */
    color: rgb(255, 255, 255);
    font-size: 2.3em; /* Tamaño de la fuente más grande para una mejor visibilidad */
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    z-index: 10;
    text-align: center; /* Asegura que el texto esté centrado si hay un salto de línea */
}
h1{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
